<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>
        Hello {{first_name}},
    </p>
    <p>
        Someone requested permission to reset your password. If this was you, enter this code to verify your request:
    </p>
    <p>{{otp}}</p>

    <b>Don't share this code with anyone!</b>
    <p>
        Sincerely,
    </p>
    <p>Eelclip Team</p>
</body>
</html>
